@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #f3f5f9;
  --color-border: #e7e8eb;
  --color-background: #f6f9fc;
  --color-light-light-gray: #f6f6f6;

  --color-red: #ff0000;
  --color-disabled-btn: #b3e4da;
  --color-link-hover: #00bfff;

  --color-tab: #389efd;
  --color-dark: #111827;
  --color-black: #2e2e2e;
  --color-white: #ffffff;
  --color-gray: #777777;
  --color-dark-gray: #4e4e4e;
  --color-light-gray: hsl(0, 0%, 60%);

  --transition: all 400ms ease;
  --box-shadow: 0 0.1rem 2rem rgba(30, 30, 30, 0.1);
  --light-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  --container-width-lg: 85%;
  --container-width-md: 95%;
  --container-width-sm: 96%;
}

html {
  scroll-behavior: smooth;
}

.dark body {
  background-color: #111827;
}

.a_flex {
  display: flex;
  align-items: center;
}
.l_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
